<p class="notice">
    Your human age is <%= human_age %> years old! <%= human_age > 90 ? '💀' :  '🧓' %>
    <br/>
    Ever think about becoming a HTMX developer? 
    <br/>
    With HTMX you would only be <%= age_with_htmx %> years old!!
</p>